/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font-family: inherit;
  outline: none;
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes make-smaller {
  0% {
    height: 100%;
    width: 100%;
  }

  100% {
    height: 75%;
    width: 78%;
  }
}

/* BASE STYLES */
.app {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.app__container {
  height: calc(100vh - 5.5rem);
  display: flex;
}

/* STYLES */

.header {
  background-image: linear-gradient(to right, #18a0be, #622db9);
  height: 5.5rem;
  display: flex;
}

.logo {
  align-self: center;
  margin-left: 2rem;
  margin-right: 3rem;
  animation: fade-in-from-top 0.5s;
}

.dd-toggle {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1.3rem;
  cursor: pointer;
  transition: all 0.4s;
  animation: fade-in-from-top 0.5s;
}

.dd-toggle:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
  margin-left: auto;
}

.dd-toggle:last-child {
  display: flex;
  align-items: center;
}

.dd-toggle__icon {
}

.dd-toggle__img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.dd-toggle__text {
}

/* ---------------- */

.sidebar {
  background-color: #10171a;
  width: 7.5rem;
  display: flex;
  flex-direction: column;
}

.menu {
}

.menu__button {
  padding: 1.9rem 0;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.4s;
  animation: fade-in-from-left 0.5s;
}

.menu__button:hover {
  background-color: #2b363b;
  color: #fff;
  cursor: pointer;
}

.menu__button:focus {
  background-color: #2b363b;
  color: #fff;
  cursor: pointer;
}

.menu__button--active {
  background-color: #2b363b;
  color: #fff;
  position: relative;
}

.menu__button--active::before {
  content: "";
  width: 0.3rem;
  height: 100%;
  background-color: #375bb6;
  position: absolute;
  left: 0;
  top: 0;
}

.menu__icon {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.meun__text {
  font-weight: 500;
  font-size: 1.2rem;
}

.footer {
  margin-top: auto;
  margin-bottom: 6rem;
  transform: rotate(-90deg);
}

.copyright {
  color: rgba(255, 255, 255, 0.15);
  font-size: 1.2rem;
  white-space: nowrap;
}

/* ----------------- */

.panel {
  background-color: #2b363c;
  width: 35rem;
  padding: 1.5rem 3.1rem;
}

.panel__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #4b5155;
  padding-bottom: 1.2rem;
}

.first-heading {
  font-size: 1.8rem;
  font-weight: 400;
}

.panel__collapse-icon {
  color: #6b7276;
  cursor: pointer;
}

.panel__images {
  padding: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.panel__img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
  animation: fade-in 1s;
}

.panel__img:nth-child(2) {
  animation: fade-in 1s 0.1s backwards;
}

.panel__img:nth-child(3) {
  animation: fade-in 1s 0.2s backwards;
}

.panel__img:nth-child(4) {
  animation: fade-in 1s 0.3s backwards;
}

.panel__img:nth-child(5) {
  animation: fade-in 1s 0.4s backwards;
}

.panel__img:hover {
  transform: scale(1.05);
}

.panel__btn {
  width: 14rem;
  height: 14rem;
  background-color: #333e44;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.2s;
  animation: fade-in 1s 0.5s backwards;
}

.panel__btn:hover,
.panel__btn:focus {
  background-color: #404c52;
}

.panel__upload-icon {
  font-size: 2.5rem;
  color: #21292d;
}

/* ----------------- */

.main {
  background-color: #edf1f3;
  flex: 1;
}

.info-bar {
  height: 5rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #d6dde1;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

.breadcrumbs__link {
  color: #a6adb1;
  text-decoration: none;
}

.breadcrumbs__icon {
  color: #a6adb1;
  margin: 0 1.3rem;
}

.breadcrumbs__name {
  color: #2e3335;
  font-weight: 500;
}

.button {
  background-color: #375bb6;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 50rem;
  transition: all 0.4s;
}

.button:hover,
button:focus {
  background-color: #26428d;
}

.artboard {
  height: calc(100vh - 5rem - 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5rem;
  column-gap: 2rem;
}

.canvas {
  height: 57.5vh;
  width: 48.6vw;
  position: relative;
  border: 0.1rem solid #fff;
  border-radius: 0.3rem;
}

.canvas__bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.15;
}

.canvas__fg-img {
  height: 75%;
  width: 78%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1rem solid #fff;
  cursor: grab;
  animation: make-smaller 1s 0.2s backwards;
}

.canvas__circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  animation: fade-in 1s 1s backwards;
}

.canvas__circle:nth-of-type(1) {
  top: 11.5%;
  left: 10.4%;
  cursor: nw-resize;
}

.canvas__circle:nth-of-type(2) {
  top: 11.5%;
  right: 10.4%;
  cursor: sw-resize;
}

.canvas__circle:nth-of-type(3) {
  bottom: 11.5%;
  left: 10.4%;
  cursor: nw-resize;
}

.canvas__circle:nth-of-type(4) {
  bottom: 11.5%;
  right: 10.4%;
  cursor: sw-resize;
}

.tools {
  height: 57.5vh;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  animation: fade-in-from-right 0.5s;
}

.tool {
  background-color: #e1e6e9;
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 0.8rem;
  color: #404446;
  transition: all 0.4s;
  cursor: pointer;
}

.tool--active {
  background-color: #2b363b;
  color: #fff;
}

.tool:last-child {
  margin-top: auto;
}

.tool:hover,
.tool:focus {
  background-color: #2b363b;
  color: #fff;
}

.tool__icon {
}
